.timeline-block {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.timeline-time {
  display: inline-block;
  position: absolute;
  top: 20px;
  width: calc(20% - 30px - 10px);
  text-align: right;
  opacity: .7;
}

.timeline-content-container {
  position: relative;
  margin-left: calc(20% + 30px + 10px);
  padding: .85em 1.2em;
  background-color: #fff;
  border-radius: .25em;
  box-shadow: 0 3px 0 #e9f0f5;
  &::before {
    content: '';
    position: absolute;
    top: 28px;
    left: -14px;
    border: 7px solid transparent;
    border-right-color: #fff;
  }
}

.content-label {
  display: flex;
  margin-top: 6px;
  span {
    width: 120px;
    background-color: #75ce66;
    text-align: center;
    padding: 5px 0;
    margin-right: 5px;
    border-radius: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  line-height: 34px;
  width: 120px;
}

.timeline-icon-container {
  position: absolute;
  top: 20px;
  left: 20%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -15px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05);
  background-color: #75ce66;
}
